.Statistics__wrapper {
    display: flex;
    column-gap: 5px;
}

.Statistics__info {
    display: block;

    padding: 5px;

    min-width: 80px;
    background-color: rgba(0, 0, 0, 0.831);

    text-align: center;
    font-size: 13px;
    font-weight: 600;

    &--good {
        color: rgb(80, 188, 84);
    }

    &--neutral {
        color: rgb(220, 227, 100);
    }

    &--bad {
        color: tomato;
    }

    &--total {
        color: white;
    }

    &--percentage {
        color: white;
        min-width: 160px;
    }
}
